.card{
    background-color: #f4f4f4;
    margin: 1.25rem 1.25rem;
    padding: 2rem 4rem;
    border-radius: .25rem;
}

@media(min-width:768px){
    .card{
        width: 80%;
        margin: 1.25rem auto;
    }
}